# IDE files
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
*.iml

# Gradle
.gradle/
gradlew
gradlew.bat
build/
build
app/build/

# Local SDK settings
local.properties

# Native builds
.cxx/
.externalNativeBuild/

# Android build outputs
captures/
*.apk
*.ap_
*.hprof

# Firebase config
google-services.json

# OS-specific
.DS_Store
Thumbs.db
